/*
* @Author: TomChen
* @Date:   2018-04-08 10:56:44
* @Last Modified by:   TomChen
* @Last Modified time: 2018-04-08 14:47:16
*/
.container{
	width: 1082px;
	margin-right: auto;
	margin-left: auto;	
}
.clealfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clealfix{
	*zoom:1;
}
/* body{
	font-size: 12px;
} */